/* Estilos para Desktop (1440px) */
.frame2-1-1-text1,
.frame2-1-1-text2 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-family: inherit;
}

.frame2-1-1-text1 {
    font-size: inherit;
    font-weight: 600;
}

.frame2-1-1-text2 {
    font-size: 2.19rem;
    font-weight: 500;
}

.frame2-1-1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame2-1-2-text1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
}

.span {
    color: #000;
}

.iniciar-sesin-aqu {
    font-weight: 600;
    color: #1a9fff;
}

.frame2-1-2-text2 {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    color: inherit;
}

.frame2-1,
.frame2-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame2-1-2 {
    align-self: stretch;
    font-size: 1rem;
    color: #989999;
}

.frame2-1 {
    flex: 1;
    gap: 2.5rem;
}

.frame2-2-text {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
}

.frame2-2-1-1,
.frame2-2-1-1-1 {
    align-self: stretch;
    display: flex;
}

.frame2-2-1-1-1 {
    border: 0;
    outline: 0;
    font-family: Poppins;
    font-size: 0.94rem;
    background-color: #32353c;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.31rem 0.63rem;
    color: #fff;
}

.frame2-2-1-1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.81rem;
}

.frame2-2-1-2-text {
    flex: 1;
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.81rem;
}

.frame2-2-1-2 {
    cursor: pointer;
    border: 0;
    padding: 0.31rem 0;
    background-color: #1a9fff;
    align-self: stretch;
    border-radius: 9px;
    box-shadow: 0 4px 61px transparent;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.frame2-2-1 {
    margin: 0;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.88rem;
}

.frame2,
.frame2-2,
.frame2-2-1 {
    display: flex;
    justify-content: flex-start;
}

.frame2-2 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.63rem;
    font-size: 1.25rem;
}

.frame2 {
    position: absolute;
    width: 77.78%;
    top: 17.88rem;
    right: 11.11%;
    left: 11.11%;
    flex-direction: row;
    align-items: center;
    gap: 3.13rem;
}

.logo-combined-191a1e-icon,
.sits-01-icon {
    position: relative;
    width: 12.25rem;
    height: 2.25rem;
    object-fit: cover;
}

.sits-01-icon {
    width: 11.91rem;
}

.frame1 {
    position: absolute;
    width: 77.78%;
    top: 1.75rem;
    right: 11.11%;
    left: 11.11%;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.register {
    position: relative;
    background-color: #191a1e;
    width: 100%;
    height: 64rem;
    overflow: hidden;
    text-align: left;
    font-size: 3.13rem;
    color: #fff;
    font-family: Poppins;
}

/* Estilos para Tablet (991px) */
@media screen and (max-width: 991px) {

    .frame2-1-1-text1,
    .frame2-1-1-text2 {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-family: inherit;
    }

    .frame2-1-1-text1 {
        font-size: inherit;
        font-weight: 600;
    }

    .frame2-1-1-text2 {
        font-size: 2.19rem;
        font-weight: 500;
    }

    .frame2-1-1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .frame2-1-2-text1 {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: inherit;
    }

    .span {
        color: #000;
    }

    .iniciar-sesin-aqu {
        font-weight: 600;
        color: #1a9fff;
    }

    .frame2-1-2-text2 {
        text-decoration: none;
        align-self: stretch;
        position: relative;
        color: inherit;
    }

    .frame2-1,
    .frame2-1-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .frame2-1-2 {
        align-self: stretch;
        font-size: 1rem;
        color: #989999;
    }

    .frame2-1 {
        flex: 1;
        gap: 2.5rem;
    }

    .frame2-2-text {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: inherit;
        font-weight: 500;
        font-family: inherit;
    }

    .frame2-2-1-1,
    .frame2-2-1-1-1 {
        align-self: stretch;
        display: flex;
    }

    .frame2-2-1-1-1 {
        border: 0;
        outline: 0;
        font-family: Poppins;
        font-size: 0.94rem;
        background-color: #32353c;
        border-radius: 8px;
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.31rem 0.63rem;
        color: #fff;
    }

    .frame2-2-1-1 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.81rem;
    }

    .frame2-2-1-2-text {
        flex: 1;
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;
        font-family: Poppins;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.81rem;
    }

    .frame2-2-1-2 {
        cursor: pointer;
        border: 0;
        padding: 0.31rem 0;
        background-color: #1a9fff;
        align-self: stretch;
        border-radius: 9px;
        box-shadow: 0 4px 61px transparent;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .frame2-2-1 {
        margin: 0;
        align-self: stretch;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.88rem;
    }

    .frame2,
    .frame2-2,
    .frame2-2-1 {
        display: flex;
        justify-content: flex-start;
    }

    .frame2-2 {
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.63rem;
        font-size: 1.25rem;
    }

    .frame2 {
        position: absolute;
        width: 90.82%;
        top: 17.88rem;
        right: 4.54%;
        left: 4.64%;
        flex-direction: row;
        align-items: center;
    }

    .logo-combined-191a1e-icon,
    .sits-01-icon {
        position: relative;
        width: 12.25rem;
        height: 2.25rem;
        object-fit: cover;
    }

    .sits-01-icon {
        width: 11.91rem;
    }

    .frame1 {
        position: absolute;
        width: 89.81%;
        top: 1.75rem;
        right: 5.55%;
        left: 4.64%;
        height: 2.25rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .register {
        position: relative;
        background-color: #191a1e;
        width: 100%;
        height: 64rem;
        overflow: hidden;
        text-align: left;
        font-size: 3.13rem;
        color: #fff;
        font-family: Poppins;
    }

}

/* Estilos para Mobile (478px) */
@media screen and (max-width: 478px) {

    .frame2-1-1-text1,
    .frame2-1-1-text2 {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-family: inherit;
    }

    .frame2-1-1-text1 {
        font-size: inherit;
        font-weight: 600;
    }

    .frame2-1-1-text2 {
        font-size: 2.19rem;
        font-weight: 500;
    }

    .frame2-1-1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .frame2-1-2-text1 {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: inherit;
        font-weight: 400;
        font-family: inherit;
    }

    .span {
        color: #000;
    }

    .iniciar-sesin-aqu {
        font-weight: 600;
        color: #1a9fff;
    }

    .frame2-1-2-text2 {
        text-decoration: none;
        align-self: stretch;
        position: relative;
        color: inherit;
    }

    .frame2-1,
    .frame2-1-2 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .frame2-1-2 {
        font-size: 1rem;
        color: #989999;
    }

    .frame2-1 {
        gap: 2.5rem;
    }

    .frame2-2-text {
        margin: 0;
        align-self: stretch;
        position: relative;
        font-size: inherit;
        font-weight: 500;
        font-family: inherit;
    }

    .frame2-2-1-1,
    .frame2-2-1-1-1 {
        align-self: stretch;
        display: flex;
    }

    .frame2-2-1-1-1 {
        border: 0;
        outline: 0;
        font-family: Poppins;
        font-size: 0.94rem;
        background-color: #32353c;
        border-radius: 8px;
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.31rem 0.63rem;
        color: #fff;
    }

    .frame2-2-1-1 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.81rem;
    }

    .frame2-2-1-2-text {
        flex: 1;
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;
        font-family: Poppins;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.81rem;
    }

    .frame2-2-1,
    .frame2-2-1-2 {
        align-self: stretch;
        justify-content: flex-start;
    }

    .frame2-2-1-2 {
        cursor: pointer;
        border: 0;
        padding: 0.31rem 0;
        background-color: #1a9fff;
        border-radius: 9px;
        box-shadow: 0 4px 61px transparent;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .frame2-2-1 {
        margin: 0;
        gap: 1.88rem;
    }

    .frame2,
    .frame2-2,
    .frame2-2-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .frame2-2 {
        align-self: stretch;
        justify-content: flex-start;
        gap: 0.63rem;
        text-align: left;
        font-size: 1.25rem;
    }

    .frame2 {
        position: absolute;
        width: 77.78%;
        top: 7.94rem;
        right: 11.13%;
        left: 11.09%;
        justify-content: center;
        gap: 3.13rem;
    }

    .logo-combined-191a1e-icon,
    .sits-01-icon {
        position: relative;
        width: 7.5rem;
        height: 1.38rem;
        object-fit: cover;
    }

    .sits-01-icon {
        width: 7.44rem;
    }

    .frame1 {
        position: absolute;
        width: 77.82%;
        top: 1.75rem;
        right: 11.09%;
        left: 11.09%;
        height: 1.38rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .register {
        position: relative;
        background-color: #191a1e;
        width: 100%;
        height: 64rem;
        overflow: hidden;
        text-align: center;
        font-size: 3.13rem;
        color: #fff;
        font-family: Poppins;
    }
}